.chart {
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 1;
    height: 500px;
    width: 800px;
    background: #EEE;
  }

  .chartPoint{
    r: 1;
    stroke: blue;
    fill: blue;
}

.chartPoint:hover{
    r: 10;
    stroke: yellow;
    fill: yellow;
}